body {
	background: #f1f1f1;
	margin-top: 2rem;
}

.tasker {
	max-width: 400px;
    margin: 0 auto;
}

.tasker-header {
	display: inline-flex;
	justify-content: space-between;
	width: 100%;
}

button {
		color: #fff;
		box-sizing: border-box;
		font-size: 1.25em;
		padding: 14px;
    }
    
input {
		flex-grow: 2;
}

.tasker-body {
		display: block;
		position: relative;
		padding: 14px 40px 14px 14px;
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		border-bottom: none;
}

button:hover  {
		opacity: 1;
}

input {
		margin-right: 10px;
}